extends layout 

block content
    h2=title
    .create-message-form
        form(action="", method="post" id="create-message") 
            label(for="title") Title:
            input#title(type="text", name="title" value=(message === undefined ? "" : message.title))

            label(for="text") Text: 
            input#text(type="text", name="text" value=(message===undefined ? "" : message.text))
        
            if errors 
                ul 
                    each error in errors 
                        li.error=error.msg

            button(type="submit") Submit


